@import "global_fonts.css";

* {
    font-family: "Vazir";
}

video
{
    border-radius: 15px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.center {
    align-items: center;
    justify-content: center;
}

/* Register and login styles */

.form_1 {
    justify-content: content;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    margin-top: 20px;
    padding-top: 20px;
    position: relative;
    width: 400px;
    height: 450px;
    z-index: 2;
    box-shadow: 3px 3px 20px;
}

.panel_around_form {
    border: 1px;
    border-style: solid;
    border-radius: 30px;
    border-color: rgba(0, 0, 0, 0.336);
    width: 90%;
    padding: 10px;
}
