.add_news_panel {
    background-color: rgb(255, 255, 255);
    margin-top: 25px;
    padding-top: 20px;
    position: relative;
    width: 90%;
    height: auto;
    box-shadow: -1px 1px 15px;
    border-radius: 5px;
}

.form-check-input {
    width: 20px;
    height: 20px;
}

.add_news_panel > div > form > label {
    color: black;
}

.add_news_panel > div.end > label {
    color: black;
}

.form-control {
    text-align: justify;
    text-align: right;
}

.form-control label {
    text-align: right;
}

#fr_lf {
    width: 100%;
    padding: 20px;
}

#mid {
    width: 100px;
}

.ch_3_1 {
    position: relative;
    width: 100%;
}

.ch_3_2 {
    width: auto;
    height: 100%;
}

#txt_ar_options {
    margin-bottom: 20px;
}

#txt_ar_options > select:nth-child(1) {
    width: 50%;
    margin-left: 10px;
}
#txt_ar_options > select:nth-child(2) {
    width: 50%;
}
