.mn {
    justify-content: center;
    font-family: vazir;
    height: 100%;
    width: 100%;
    background-image: url("../img/img_1.jpg");
}

.parent {
    position: absolute;
    height: 100%;
    width: 100%;
}

.parent>div.ch_1 {
    position: relative;
    background-color: rgb(0, 0, 0);
    width: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-right: 50px;
    font-size: 21px;
    text-align: center;
}

.button-free {
    text-align: center;
    font-family: vazir;
    height: 100%;
    width: 100px;
    border: none;
    background-color: black;
    color: white;
    margin-left: 10px;
}

.button-free:hover {
    color: black;
    border-radius: 30px;
    background-color: white;
}

.button-free:focus {
    color: black;
    border-radius: 30px;
    background-color: white;
}

.admin {
    text-align: center;
    font-family: vazir;
    height: 100%;
    width: 250px;
    background-color: black;
    color: white;
    margin-left: 10px;
}

.admin:hover,
.admin:active {
    color: black;
    background-color: white;
}

.parent>div.ch_2 {
    position: relative;
    background-color: rgb(255, 255, 255);
    height: 150px;
    width: 100%;
    font-family: vazir;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-weight: 100;
}

.parent>div.ch_3 {
    position: relative;
    height: 500px;
    width: 100%;
    font-family: vazir;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;
    font-size: 20px;
    font-weight: 80;
    z-index: 3;
}

.parent>div.ch_3>div.d1 {
    width: auto;
    height: auto;
}

.parent>div.ch_3>div.d2 {
    width: 100%;
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.parent>div.ch_3>div.d2>div.d2_1 {
    width: 100%;
    height: 100%;
    z-index: 4;
}

.parent>div.ch_3>div.d2>div.d2_2 {
    width: 100%;
    height: 100%;
}

.parent>div.ch_3>div.d2>div.d2_3 {
    width: 40%;
    height: 100%;
}

.parent>div.ch_3>div.d3 {
    width: 100%;
    height: 250px;
}

.parent>div.ch_3 img {
    width: 100%;
    height: 500px;
}

.parent>div.ch_3_5 {
    position: relative;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.parent>div.ch_4 {
    position: relative;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 30px;
    text-align: right;
    font-size: 20px;
}


.parent>div.ch_4>div.ch_4_1 {
    position: relative;
    height: auto;
    width: 0.5%;
    height: 310px;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    margin-right: 40px;
    background-color: black;
}

.parent>div.ch_4>div.ch_4_2 {
    padding-right: 10px;
}

.parent>div.ch_3>span.slider {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.films_row {
    position: relative;
    display: flex;
    flex-direction: row;
    flex: 1;
    height: 600px;
    margin-top: 30px;
    width: 100%;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.crd:hover {
    cursor: pointer;
    opacity: 90%;
}

.ch_1_1>input {
    width: 400px;
    outline: none;
    border: none;
    border-radius: 40px;
    text-indent: 20px;
    text-align: right;
    margin-left: 20px;
    margin-top: 10px;
    height: 38px;
    font-family: 18px;
    margin-bottom: 10px;
}

#comment_box>textarea {
    border: none;
    outline: none;
    background-color: rgb(216, 216, 216);
    border-radius: 5px;
    text-align: right;
    resize: none;
    padding: 10px;
}

.ch_7 {
    background-color: black;
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ch_7_1 {
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 20%;
}

.ch_7_1_1 {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    height: 10%;
    width: auto;
    flex-direction: row;
    justify-content: center;
}

.ch_7_1_1>p {
    color: white;
    font-family: vazir;
    font-size: 20px;
}

.ch_7_1>a {
    margin-top: 25px;
}

.position {
    display: flex;
    flex-direction: row;
    width: 750px;
    background-color: rgb(223, 223, 223);
    height: 160px;
    margin: 20px;
    border-radius: 15px;
    font-size: 18px;
}
.position>p
{
    font-size: 30px;
}
.position:hover
{
    box-shadow: 0.5px 0.5px 3px 0.1px;
}
.position>div._1 {
    width: 18%;
    margin: 15px;
    display: flex;
}

.position>div._2 {
    width: 82%;
    height: 100%;
    padding: 20px;
}

.position>div._3
{
    width: 82%;
    height: 100%;
    padding: 20px;
}