.ch_1_1 > input {
    width: 400px;
    outline: none;
    border: none;
    border-radius: 40px;
    text-indent: 20px;
    text-align: right;
    margin-left: 20px;
    margin-top: 10px;
    height: 38px;
    font-family: 18px;
    margin-bottom: 10px;
}

.parent > div.ch_3 {
    position: relative;
    background-color: #cccccc00;
    height: 500px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 80;
    z-index: 3;
}

.parent > div.ch_4 {
    position: relative;
    height: auto;
    width: 100%;
    background-color: #cccccc00;
}

.parent > div.ch_3 > span.slider {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.image {
    margin-top: 10px;
    position: relative;
    height: auto;
    width: 100%;
    margin-left: 20px;
}

.films_row {
    position: relative;
    flex: 1;
    height: 600px;
    margin-top: 30px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
}

.crd {
    box-shadow: 2px 2px 18px;
    text-justify: center;
    position: relative;
    margin-top: 30px;
    margin-left: 30px;
    text-align: center;
    height: 330px;
    width: 230px;
    background-color: white;
    font-size: 20px;
    border: 1px;
    border-radius: 8px;
    border-style: 1px;
    border-color: black;
}

.crd:hover {
    cursor: pointer;
    opacity: 90%;
}

.crd:active {
    cursor: pointer;
    opacity: 70%;
}



.crd > div.d1 {
    position: relative;
    height: 500px;
    width: 100%;
}

.crd > div.d1 img {
    position: relative;
    height: 200px;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.crd > div.d2 {
    position: relative;
    margin-top: 15px;
    height: 200px;
    padding-top: 20px;
    width: 100%;
}

.crd > div.d3 {
    position: relative;
    margin-top: 15px;
    height: 50px;
    padding-top: 20px;
    width: 100%;
    font-size: 16px;
}

.ch_5 {
    background-color: black;
    height: 250px;
    width: 100%;
}

