.mn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: vazir;
    height: 100%;
    width: 100%;
    background-image: url("../img/img_1.jpg");
}

.parent {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.parent>div.ch_1 {
    position: relative;
    background-color: rgb(0, 0, 0);
    width: 100%;
    box-shadow: 2px 3px 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-right: 50px;
    font-size: 21px;
    text-align: center;
}

.button-free {
    text-align: center;
    font-family: vazir;
    height: 100%;
    width: 100px;
    border: none;
    background-color: black;
    color: white;
    margin-left: 10px;
}

.button-free:hover {
    color: black;
    background-color: white;
    border-radius: 30px;
}

.button-free:focus {
    color: black;
    background-color: white;
    border-radius: 30px;
}

.admin {
    text-align: center;
    font-family: vazir;
    height: 100%;
    width: 250px;
    background-color: black;
    color: white;
    margin-left: 10px;
}

.admin:hover,
.admin:active {
    color: black;
    background-color: white;
}

.parent>div.ch_2 {
    position: relative;
    background-color: rgb(255, 255, 255);
    height: 150px;
    width: 100%;
    font-family: vazir;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-weight: 100;
}

.parent>div.ch_3 {
    position: relative;
    background-color: rgb(255, 255, 255);
    height: 500px;
    width: 100%;
    font-family: vazir;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 80;
    box-shadow: 2px -3px 20px;
    z-index: 3;
}

.parent>div.ch_4 {
    position: relative;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}


#more_about_film {
    display: none;
    position: fixed;
    z-index: 3;
    background-color: black;
    opacity: 60%;
    height: 100%;
    width: 100%;
}

#pop_up_panel {
    position: absolute;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 500px;
    background-color: rgba(255, 255, 255, 1);
    z-index: 4;
}

#pop_up_panel>div.__m {
    margin: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 500px;
    z-index: 4;
    overflow: hidden;
}

#pop_up_panel>img {
    position: relative;
    background-size: cover;
    size: cover;
    margin-top: 10px;
    height: 50px;
    width: 50px;
}

#pop_up_panel>div>div>textarea {
    text-justify: inter-word;
    border: none;
    outline: none;
    color: black;
}

.row_1>tr>th,
td {
    margin-top: 20px;
    text-align: center;
    border-collapse: collapse;
    border: 1px;
    border-style: solid;
}

.parent>div.ch_3>span.slider {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.image {
    margin-top: 10px;
    position: relative;
    height: auto;
    width: 100%;
    margin-left: 20px;
}

.films_row {
    position: relative;
    display: flex;
    flex-direction: row;
    flex: 1;
    height: 600px;
    margin-top: 30px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    align-items: center;
    justify-content: center;
}

.crd {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 30px;
    align-items: center;
    justify-content: center;
    height: 330px;
    width: 300px;
    background: transparent;
}

.ch_1_1>input {
    width: 400px;
    outline: none;
    border: none;
    border-radius: 40px;
    text-indent: 20px;
    text-align: right;
    margin-left: 20px;
    margin-top: 10px;
    height: 38px;
    font-family: 18px;
    margin-bottom: 10px;
}

.crd>div.d1 {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 100%;
    background: transparent;
}

.crd>div.d1 img {
    position: relative;
    height: 200px;
    width: 100%;
   border-radius: 20px;
}

.crd>div.d2 {
    position: relative;
    margin-top: 15px;
    height: 200px;
    padding-top: 20px;
    width: 100%;
}

.crd>div.d3 {
    position: relative;
    margin-top: 15px;
    height: 50px;
    padding-top: 20px;
    width: 100%;
    font-size: 16px;
}

.ch_5 {
    background-color: black;
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ch_5_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 20%;
}

.ch_5_1_1 {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    height: 10%;
    width: auto;
    flex-direction: row;
    justify-content: center;
}

.ch_5_1_1>p {
    color: white;
    font-family: vazir;
    font-size: 20px;
}

.ch_5_1>a {
    margin-top: 25px;
}

.d2_1>p {
    color: white;
    font-size: 19px;
}

p {
    color: white;
}