.main_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: vazir;
    font-size: 20px;
}

.main_body>div {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-top: 20px;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.main_body>div>div {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.main_body>div>div>div.r1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 50%;
}
.main_body>div>div>div.r3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 50%;
}
.main_body>div>.l1 {
    height: 2px;
    width: 60%;
    background-color: black;
    margin-bottom: 20px;
}


p {
    text-align: right;
    margin-top: 20px;
}