body {
    font-family: vazir;
}

.bd_mn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: vazir;
}

.add_a_film_panel {
    justify-content: content;
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: row;
    width: 1000px;
    height: auto;
    box-shadow: 2px 2px 10pxÙ‘;
    z-index: 2;
    font-family: vazir;
    box-shadow: 3px 3px 20px;
}

.add_a_film_panel>div>form>label {
    color: black;

}

.add_a_film_panel>div.end>label {
    color: black;
}

.form-control {
    text-align: justify;
    text-align: right;
}

.form-control input {
    background-color: rgba(233, 248, 255);
    direction: rtl;
}

span>.form-select {
    width: auto;
}

span {
    display: flex;
    justify-content: flex-start;
}

.form-control textarea {
    background-color: rgba(233, 248, 255);
    direction: ltr;
}

.form-control label {
    text-align: right;
}

#fr_lf {
    width: 45%;
    margin: 10px;
}

#fr_rg {
    width: 45%;
    margin-bottom: 10px;

}

#mid {
    width: 100px;
}

.bootstrap-table-1>table {
    margin-top: 20px;
    text-align: center;
    justify-content: center;
    border-collapse: collapse;
    border: 2px;
    border-style: dotted;
}

.row_1>tr>th,
td {
    margin-top: 20px;
    text-align: center;
    border-collapse: collapse;
    border: 1px;
    border-style: solid;
}