.bd_mn {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: right;
    width: 100%;
    height: 100%;
    font-family: vazir;
}


.add_a_film_panel {
    justify-content: content;
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    padding-top: 20px;
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    height: 250px;
    box-shadow: 2px 2px 10pxÙ‘;
    z-index: 2;
    box-shadow: 3px 3px 20px;
}
.add_a_film_panel>div.__1
{
    position: relative;
    width: 100%;
}